{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}

<div id="main" class="container-fluid d-flex">
    <!-- Barra Izquierda -->
    <div class="sidebar m-5 d-none d-md-block">
        <div class="">
            <div class="card" style="width: 18rem; text-align:center; border-radius: 20px;">
                <img class="card-img-top rounded-circle"
                     style="width:60%; position: relative; left: 62px; padding-top: 20px;"
                     src="{{ request.user.profile.image.url }}" alt="Imagen de perfil">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ request.user.first_name }}</h5>
                    <h6 class="card-title font-weight-bold">@{{ request.user.username }}</h6>
                    <p class="card-text">{{ request.user.profile.bio }}</p>
                    <h6 class="card-title font-weight-bold">
                        {{ request.user.profile.followers.count }} Seguidores
                        {{ request.user.profile.following.count }} Siguiendo
                    </h6>
                    <a href="{% url 'profile' request.user.username %}" class="btn text-white rounded-pill">Mi perfil</a>
                </div>
            </div>
            <a href="{% url 'editar' %}" type="button"
               style="border-radius: 30px; font-size: 1.1rem; font-weight:bold;"
               class="btn btn-lg btn-block mt-4 text-white">Editar mi perfil</a>
        </div>
    </div>
    <!-- End Barra Izquierda -->

    <!-- Center -->
    <div class="content">
        <!-- Área de creación de Tweet -->
        <div id="inputTweetArea" class="tweet-wrap">
            <div class="d-flex">
                <div class="col-xs">
                    <img src="{{ request.user.profile.image.url }}" alt="" class="avator">
                </div>
                <form class="col pr-0" method="post">
                    {% csrf_token %}
                    {{ form.content }}
                    <div class="container d-flex pt-2">
                        <div id="charBadge" class="badge badge-pill badge-primary ml-2 d-flex align-items-center justify-content-center w-50">
                            <div id="charCountArea">140</div>
                        </div>
                        <button class="btn rounded-pill w-100">Publicar</button>
                    </div>
                </form>
            </div>
        </div>

        <!-- Tweets -->
        {% for post in posts %}
        <div id="tweetCards">
            <div class="tweet-wrap" style="border-radius:20px">
                <div class="tweet-header">
                    <img src="{{ post.user.profile.image.url }}" alt="" class="avator">
                    <div class="tweet-header-info">
                        <a href="{% url 'profile' post.user.username %}">{{ post.user.first_name }}</a>
                        <a href="{% url 'profile' post.user.username %}" style="text-decoration: none; color: #657787;">
                            @{{ post.user.username }}
                        </a>
                        <span>{{ post.timestamp|naturaltime }}</span>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                <div class="tweet-info-counts">
                <!-- Comentarios -->
                <div class="comments">
                    <a href="{% url 'post_comments' post.id %}" style="background: white; border: none;">
                        🗨️ {{ post.comment_set.count }}
                    </a>
                </div>
                <div class="retweets">
                    {% if post.user == request.user %}
                        <a href="{% url 'post_reposts' post.id %}" style="text-decoration: none; color: inherit;">
                            🔁 {{ post.repost_set.count }}
                        </a>
                    {% else %}
                        <a href="{% url 'repost' post.id %}" style="text-decoration: none; color: inherit;">
                            🔁 {{ post.repost_set.count }}
                        </a>
                    {% endif %}
                </div>
                <div class="likes">
                    <a href="{% url 'like_post' post.id %}" style="background: white; border: none;">
                        ❤️ {{ post.like_set.count }}
                    </a>
                </div>
                    {% if request.user == post.user %}
                    <div class="trash">
                        <a href="{% url 'delete' post.id %}" style="background: white; border: none;">
                            🗑️
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End Center -->

    <!-- Barra Derecha -->
    <div class="sidebar m-5 d-none d-xl-block">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Who to Follow</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" style="text-decoration: none; color: #657787;">@mundopython</a></li>
                <li class="list-group-item"><a href="#" style="text-decoration: none; color: #657787;">@mundopython</a></li>
                <li class="list-group-item"><a href="#" style="text-decoration: none; color: #657787;">@mundopython</a></li>
            </ul>
        </div>
    </div>
    <!-- End Barra Derecha -->
</div>
{% endblock content %}
