{% extends 'twitter/layout.html' %}
{% load humanize %}
{% block content %}
<div id="main" class="container-fluid d-flex">
    <!-- Barra Izquierda -->
    <div class="sidebar m-5 d-none d-md-block">
        <div class="">
            <div class="card" style="width: 18rem; text-align:center; border-radius: 20px;">
                <img class="card-img-top rounded-circle"
                     style="width:60%; position: relative; left: 62px; padding-top: 20px;"
                     src="{{ perfil_usuario.profile.image.url }}" alt="Imagen de perfil">
                <div class="card-body">
                    <h5 class="card-title font-weight-bold">{{ perfil_usuario.first_name }}</h5>
                    <h6 class="card-title font-weight-bold">@{{ perfil_usuario.username }}</h6>
                    <p class="card-text">{{ perfil_usuario.profile.bio }}</p>
                    <h6 class="card-title font-weight-bold">
                        {{ perfil_usuario.profile.followers.count }} Followers
                        {{ perfil_usuario.profile.following.count }} Following
                    </h6>
                    {% if request.user.is_authenticated and perfil_usuario != request.user %}
                        {% if perfil_usuario not in request.user.profile.following %}
                            <a href="{% url 'follow' perfil_usuario.username %}" class="btn text-white rounded-pill">Seguir</a>
                        {% else %}
                            <a href="{% url 'unfollow' perfil_usuario.username %}" class="btn text-white rounded-pill">Dejar de seguir</a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            {% if perfil_usuario == request.user %}
            <a href="{% url 'editar' %}" type="button"
               style="border-radius: 30px; font-size: 1.1rem; font-weight:bold;"
               class="btn btn-lg btn-block mt-4 text-white">Editar mi perfil</a>
            {% endif %}
        </div>
    </div>
    <!-- End Barra Izquierda -->

    <!-- Center -->
    <div class="content">
        {% for post in posts %}
        <div id="tweetCards">
            <div class="tweet-wrap" style="border-radius:20px">
                <div class="tweet-header">
                    <img src="{{ post.user.profile.image.url }}" alt="" class="avator">
                    <div class="tweet-header-info">
                        {{ post.user.first_name }} <span>@{{ post.user.username }}</span>
                        <span>{{ post.timestamp|naturaltime }}</span>
                        <p>{{ post.content }}</p>
                    </div>
                </div>
                <div class="tweet-info-counts">
                    <div class="comments">
                        <button style="background: white; border: none;">
                            🗨️
                        </button>
                    </div>
                    <div class="retweets">
                        <button style="background: white; border: none;">
                            🔁
                        </button>
                    </div>
                    <div class="likes">
                        <button style="background: white; border: none;">
                            ❤️
                        </button>
                    </div>
                    {% if request.user == post.user %}
                    <div class="trash">
                        <a href="{% url 'delete' post.id %}" style="background: white; border: none;">
                            🗑️
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- End Center -->

    <!-- Barra Derecha -->
    <div class="sidebar m-5 d-none d-xl-block">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Who to Follow</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><a href="#" style="text-decoration: none; color: #657787;">@mundopython</a></li>
                <li class="list-group-item"><a href="#" style="text-decoration: none; color: #657787;">@mundopython</a></li>
                <li class="list-group-item"><a href="#" style="text-decoration: none; color: #657787;">@mundopython</a></li>
            </ul>
        </div>
    </div>
    <!-- End Barra Derecha -->
</div>
{% endblock content %}
